/* head */
.clr-m{
  background-color: rgb(67, 187, 243);
  color: white;
  padding: 0px 15px 0px 20px;
}

.clr-ch{
  color: white;
}
.btn{
  color: gray;
  
}
/* body */
.web{
  margin-left: 8%;
margin-top: 15px;
margin-bottom: 20px;

}

.bd{
  height: 450px;
  background-color: rgb(247, 247, 78);
  margin-left: 6px;
  
}

.subweb{
  width: 84%;
  height: 250px;
  background-color: white;
 
  margin-left: 8%;
  padding: 20px;
  margin-top: 10px;
  box-shadow: 3px 3px 10px rgb(41, 39, 39);
  
}
.a1{
  border-radius: 10px;
  margin: 10px;
}
.a{
  width: 25%;
  border-radius: 10px;
  margin: 10px;
}
.im{
  width: 75%;
  /* border: 1px solid; */
}

.para{
  width: 250px;
  /* border:1px solid; */
  border-radius: 5px;
  margin: 25px;
  text-align: center;
  box-shadow: 3px 3px 10px rgb(104, 99, 99);
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(16, 122, 243);
  font-weight: 700;


}

.wdinc{
  width: 80%;
}
.div1{
  display: flex;
}
.k{
  margin-right: 50px;
  width:60%;
  height: 550px;
  margin: 20px;
  box-shadow: 3px 3px 10px rgb(104, 99, 99);
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(213, 245, 245);
  

}
.b{
  width: 250px;
  border-radius: 5px;
}
.html{
  margin: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.js{
  margin: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* body2 */

.mh{
  margin-bottom: 30px;
  margin-top: 100px;
  margin-left: 36%;
  border-radius: 5px ;
  box-shadow: 3px 3px 10px rgb(155, 145, 145);
  color: rgb(255, 208, 0);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}
.htmljstext{
  display: flex;

}

.listdata{
  box-shadow: 3px 3px 10px rgb(155, 145, 145);
margin: 5px;
padding: 15px;
  width: 38%;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);


}

.h{
  color: rgb(21, 208, 233);
}
.p{
  color: rgb(2, 2, 2); 
}
.benfts{
  color: rgb(255, 255, 255);
  background-color: rgb(226, 100, 16);
  border-radius: 5px;
  padding: 2px;
}

.height{
  margin-left: 70px;
  height: 500px;
}
