.shadow{
  background-color: rgb(180, 241, 221);
/* background: linear-gradient( to left, skyblue, pink); */
  margin: 15px;
}

.text-center{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: 10px 5px 5px rgb(0, 0, 0);
  font-size: 90px;
}

.w{
  width: 20%;
  /* color: white; */
  font-size: 20px;
  
}

.shadow{
  box-shadow: 10px 10px 10px gray;

}
img{
  filter:drop-shadow(10px 7px 20px rgb(255, 255, 255));
  /* box-shadow: 10px 7px 20px rgb(194, 62, 22); */
}
.classTotal{

  display: flex;
  flex-direction: row-reverse;
  margin-right: 8%;
}